* {
    box-sizing: border-box;
}

/* =====whole page container===== */
/* div.aside_container,
div.content_container {
    display: inline-flex;
    flex-wrap: nowrap;
    vertical-align: top;
} */

/* =====item area container===== */

.content_container {
    display: flex;
    flex-direction: column;
    /* row | row-reverse | column | column-reverse; */
    width: 80%;
    height: 300px;
    padding: 15px;
    margin-top: 20px;
}



/* =====item container===== */
.item_container {
    /* display: inline-flex; */
    /* justify-content: space-around; */
    border: 1px solid grey;
    border-radius: 10px;
    color: black;
    /* font-size: 2rem; */
    box-shadow: 9px 9px 2px rgba(0.1, 0.1, 0, 0.1);
}

.test {
    border: 1px solid lightgrey;
    height: 50px;
}


/* =====item img===== */
.item_image {
    border: 1px solid grey;
    /*display: flex-box;*/
    justify-content: flex-start;
    width: 20%;
    height: 50%;
    /*display: flexbox;*/
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    font-size: 2rem;
}

/* =====item detail===== */
span.content {
    font-size: 12px;
    overflow: hidden;
}

.item_detail {
    border: 1px solid grey;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 2rem;
    /* box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2); */
}

/* =====button===== */
div.btn_area {
    display: inline-block;
    text-align: right;
}

a.btn_check {
    box-sizing: content-box;
    background-color: #add8e6;
    margin-top: 10px;
    border-radius: 2px;
    vertical-align: right;
    color: black;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}


/* =====aside container===== */
.aside_container {
    display: flex;
    flex-direction: column;
    /* margin-top: 30px;
    margin-left: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2); */
}


/* Styles required only for the example above */
.scrollspy-example {
    position: relative;
    height: 200px;
    overflow: auto;
}


/* =====aside location===== */

.aside_location_container {
    /* display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
}


.item_topic {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    text-align: left;
}

.item_search {
    display: block;
    margin-right: 10px;
    margin-left: 10px;

}

.item_city {
    margin-top: 10px;
    margin: 5px;
    margin-left: 15px;
}

/* ===== drop down ===== */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* =====aside by category===== */


.my-nav-link .card {
    height: 200px;
}

.my-nav-link .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body p {
    display: -webkit-box;

    /* 顯示幾行文字 */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gj-datepicker {
    background-color: #fff;
    color: #000;
}

.slider {
    width: 100%;
    height: 15px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}





/* test  */
/* div.row {

    border: 1px solid blue
} */





/* 內容區 */
/* 內容區塊 */
div#content_wrap {
    padding: 30px 30px 30px 30px;
}

/* 燈箱樣式 */
button {
    cursor: pointer;
}

#lightbox {
    /*   border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
}

.none {
    display: none;
}

/* 元素 article 置中及基本樣式 */
#lightbox>article {
    background-color: white;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollspy-example-collapsible {
    position: relative;
    height: 1000px;
    overflow: auto;
    font-size: 16px;
}

/* 收藏的愛心*/
.my-favorite .on {
    color: #dc3545;
}

.my-favorite .on:hover {
    color: #ccc;
}

.my-favorite {
    color: #ccc;
}

.my-favorite :hover {
    color: #dc3545;
}

/* .my-favorite .on {
    color: #dc3545;
  }

  .my-favorite .on:hover {
    color: #ccc;
  }

  .my-favorite .off {
    color: #ccc;
  }

  .my-favorite .off:hover {
    color: #dc3545;
  } */